# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore VS Code workspace settings
*.code-workspace
.vscode/

# Ignore GitHub token files
GitHub token .txt
github_token_backup.txt
github_token_refresh.txt
